In [104]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.5f}'.format

In [105]:
df = pd.read_csv('./dataset/total.csv', encoding='cp949', low_memory=False)
df

,회사명,거래소코드,회계년도,자산(*)(천원),부채(*)(천원),자본(*)(천원),유동자산(*)(천원),유동부채(*)(천원),당좌자산(*)(천원),단기차입금(*)(천원),...,무형자산(*)(천원),이연자산(*)(천원),매출채권(*)(천원),재고자산(*)(천원),법인세비용차감전(계속사업)손익(천원),세금과공과(천원),퇴직급여(천원),임차료(천원),영업외수익(*)(천원),영업외비용(*)(천원)
0,(주)A.M.C,64118,Dec-11,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,1303.00000,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000
1,(주)A.M.C,64118,Dec-12,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,843.00000,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000
2,(주)A.M.C,64118,Dec-13,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,383.00000,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000
3,(주)A.M.C,64118,Dec-14,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,1.00000,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000
4,(주)A.M.C,64118,Dec-15,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,1.00000,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289065,힐링홈스주식회사,84799,Dec-17,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,0.00000,0.00000,810194.00000,7461007.00000,619765.00000,8835.00000,0.00000,22716.00000,15626.00000,234379.00000
289066,힐코리아주식회사,43486,Dec-05,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,0.00000,0.00000,25432.00000,0.00000,-1327720.00000,77466.00000,32140.00000,29979.00000,3609.00000,985112.00000
289067,힐코리아주식회사,43486,Dec-08,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,0.00000,0.00000,0.00000,0.00000,-48307.00000,5899.00000,1177.00000,24615.00000,83240.00000,6631.00000
289068,힐코리아주식회사,43486,Dec-09,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-1335713.00000,1770.00000,26589.00000,13013.00000,82787.00000,1205481.00000
289069,힐코리아주식회사,43486,Dec-10,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-179053.00000,33.00000,0.00000,316.00000,72.00000,65421.00000

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289070 entries, 0 to 289069
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   회사명                    289070 non-null  object
 1   거래소코드                  289070 non-null  int64
 2   회계년도                   289070 non-null  object
 3   자산(*)(천원)              288928 non-null  float64
 4   부채(*)(천원)              288928 non-null  float64
 5   자본(*)(천원)              288928 non-null  float64
 6   유동자산(*)(천원)            288928 non-null  float64
 7   유동부채(*)(천원)            288928 non-null  float64
 8   당좌자산(*)(천원)            288928 non-null  float64
 9   단기차입금(*)(천원)           288928 non-null  float64
 10  장기차입금(*)(천원)           288928 non-null  float64
 11  사채(*)(천원)              288928 non-null  float64
 12  매출액(영업수익)(*)(천원)       288928 non-null  float64
 13  당기순이익(순손실)(천원)         288928 non-null  float64
 14  감가상각비(천원)              288928 non-null  float64
 15  기타대손상각비(천원)            288928 non-null  float64
 16  이자비용(천원)               288928 non-null  float64
 17  이자수익(천원)               288928 non-null  float64
 18  유동성장기부채(*)(천원)         288928 non-null  float64
 19  영업활동으로 인한 현금흐름(*)(천원)  288928 non-null  float64
 20  당기순이익(순손실)(천원).1       288928 non-null  float64
 21  영업이익(손실)(천원)           288928 non-null  float64
 22  매출원가(*)(천원)            288928 non-null  float64
 23  투자자산(*)(천원)            288928 non-null  float64
 24  유형자산(*)(천원)            288928 non-null  float64
 25  무형자산(*)(천원)            288928 non-null  float64
 26  이연자산(*)(천원)            288928 non-null  float64
 27  매출채권(*)(천원)            288928 non-null  float64
 28  재고자산(*)(천원)            288928 non-null  float64
 29  법인세비용차감전(계속사업)손익(천원)   288928 non-null  float64
 30  세금과공과(천원)              288928 non-null  float64
 31  퇴직급여(천원)               288928 non-null  float64
 32  임차료(천원)                288928 non-null  float64
 33  영업외수익(*)(천원)           288928 non-null  float64
 34  영업외비용(*)(천원)           288928 non-null  float64
dtypes: float64(32), int64(1), object(2)
memory usage: 77.2+ MB

##### 컬럼명 정리

In [107]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(천원)', '부채(*)(천원)', '자본(*)(천원)',
       '유동자산(*)(천원)', '유동부채(*)(천원)', '당좌자산(*)(천원)', '단기차입금(*)(천원)',
       '장기차입금(*)(천원)', '사채(*)(천원)', '매출액(영업수익)(*)(천원)', '당기순이익(순손실)(천원)',
       '감가상각비(천원)', '기타대손상각비(천원)', '이자비용(천원)', '이자수익(천원)', '유동성장기부채(*)(천원)',
       '영업활동으로 인한 현금흐름(*)(천원)', '당기순이익(순손실)(천원).1', '영업이익(손실)(천원)',
       '매출원가(*)(천원)', '투자자산(*)(천원)', '유형자산(*)(천원)', '무형자산(*)(천원)',
       '이연자산(*)(천원)', '매출채권(*)(천원)', '재고자산(*)(천원)', '법인세비용차감전(계속사업)손익(천원)',
       '세금과공과(천원)', '퇴직급여(천원)', '임차료(천원)', '영업외수익(*)(천원)', '영업외비용(*)(천원)'],
      dtype='object')

In [108]:
# 손익계산서의 당기순이익과 현금흐름표의 당기순이익 컬럼 두개가 뽑혀서 현금흐름표의 당기순이익 컬럼 삭제
df.drop(['당기순이익(순손실)(천원).1'], axis=1, inplace=True)

In [109]:
col = df.columns.str.split('(').str.get(0)
df.columns = col
df

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
0,(주)A.M.C,64118,Dec-11,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,1303.00000,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000
1,(주)A.M.C,64118,Dec-12,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,843.00000,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000
2,(주)A.M.C,64118,Dec-13,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,383.00000,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000
3,(주)A.M.C,64118,Dec-14,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,1.00000,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000
4,(주)A.M.C,64118,Dec-15,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,1.00000,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289065,힐링홈스주식회사,84799,Dec-17,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,0.00000,0.00000,810194.00000,7461007.00000,619765.00000,8835.00000,0.00000,22716.00000,15626.00000,234379.00000
289066,힐코리아주식회사,43486,Dec-05,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,0.00000,0.00000,25432.00000,0.00000,-1327720.00000,77466.00000,32140.00000,29979.00000,3609.00000,985112.00000
289067,힐코리아주식회사,43486,Dec-08,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,0.00000,0.00000,0.00000,0.00000,-48307.00000,5899.00000,1177.00000,24615.00000,83240.00000,6631.00000
289068,힐코리아주식회사,43486,Dec-09,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-1335713.00000,1770.00000,26589.00000,13013.00000,82787.00000,1205481.00000
289069,힐코리아주식회사,43486,Dec-10,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-179053.00000,33.00000,0.00000,316.00000,72.00000,65421.00000

In [110]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '자산', '부채', '자본', '유동자산', '유동부채', '당좌자산',
       '단기차입금', '장기차입금', '사채', '매출액', '당기순이익', '감가상각비', '기타대손상각비', '이자비용',
       '이자수익', '유동성장기부채', '영업활동으로 인한 현금흐름', '영업이익', '매출원가', '투자자산', '유형자산',
       '무형자산', '이연자산', '매출채권', '재고자산', '법인세비용차감전', '세금과공과', '퇴직급여', '임차료',
       '영업외수익', '영업외비용'],
      dtype='object')

##### NaN값 처리

In [111]:
df.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
자산                142
부채                142
자본                142
유동자산              142
유동부채              142
당좌자산              142
단기차입금             142
장기차입금             142
사채                142
매출액               142
당기순이익             142
감가상각비             142
기타대손상각비           142
이자비용              142
이자수익              142
유동성장기부채           142
영업활동으로 인한 현금흐름    142
영업이익              142
매출원가              142
투자자산              142
유형자산              142
무형자산              142
이연자산              142
매출채권              142
재고자산              142
법인세비용차감전          142
세금과공과             142
퇴직급여              142
임차료               142
영업외수익             142
영업외비용             142
dtype: int64

In [112]:
df[df['자산'].isna()].head()

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
14205,주식회사테크팩솔루션,57120,Dec-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14206,주식회사테크팩솔루션,57120,Dec-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31576,케이만금세기차륜집단유한공사,75136,Dec-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43988,동양인터내셔널(주),10079,Mar-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43989,동양인터내셔널(주),10079,Mar-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
df[df['자산'].isna()].isna().sum()
# 자산에서 NaN값 뜨면 전체 다 NaN -> 모두 삭제 진행

회사명                 0
거래소코드               0
회계년도                0
자산                142
부채                142
자본                142
유동자산              142
유동부채              142
당좌자산              142
단기차입금             142
장기차입금             142
사채                142
매출액               142
당기순이익             142
감가상각비             142
기타대손상각비           142
이자비용              142
이자수익              142
유동성장기부채           142
영업활동으로 인한 현금흐름    142
영업이익              142
매출원가              142
투자자산              142
유형자산              142
무형자산              142
이연자산              142
매출채권              142
재고자산              142
법인세비용차감전          142
세금과공과             142
퇴직급여              142
임차료               142
영업외수익             142
영업외비용             142
dtype: int64

In [114]:
df.dropna(axis=0, inplace=True)
df.head()

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
0,(주)A.M.C,64118,Dec-11,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,1303.00000,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000
1,(주)A.M.C,64118,Dec-12,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,843.00000,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000
2,(주)A.M.C,64118,Dec-13,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,383.00000,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000
3,(주)A.M.C,64118,Dec-14,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,1.00000,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000
4,(주)A.M.C,64118,Dec-15,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,1.00000,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000

In [115]:
df.isna().sum()

회사명               0
거래소코드             0
회계년도              0
자산                0
부채                0
자본                0
유동자산              0
유동부채              0
당좌자산              0
단기차입금             0
장기차입금             0
사채                0
매출액               0
당기순이익             0
감가상각비             0
기타대손상각비           0
이자비용              0
이자수익              0
유동성장기부채           0
영업활동으로 인한 현금흐름    0
영업이익              0
매출원가              0
투자자산              0
유형자산              0
무형자산              0
이연자산              0
매출채권              0
재고자산              0
법인세비용차감전          0
세금과공과             0
퇴직급여              0
임차료               0
영업외수익             0
영업외비용             0
dtype: int64

##### 회계년도, 회계월 정리

In [116]:
df['회계년도']

0         Dec-11
1         Dec-12
2         Dec-13
3         Dec-14
4         Dec-15
           ...
289065    Dec-17
289066    Dec-05
289067    Dec-08
289068    Dec-09
289069    Dec-10
Name: 회계년도, Length: 288928, dtype: object

In [117]:
df['회계년도'].unique()

array(['Dec-11', 'Dec-12', 'Dec-13', 'Dec-14', 'Dec-15', 'Dec-16',
       'Dec-17', 'Dec-04', 'Dec-05', 'Dec-06', 'Dec-07', 'Dec-08',
       'Dec-09', 'Dec-10', 'Dec-01', 'Dec-02', 'Dec-03', 'Jul-01',
       'Feb-01', 'Feb-02', 'Feb-03', 'Feb-04', 'Feb-05', 'Feb-06',
       'Feb-07', 'Jun-11', 'Jun-12', 'Jun-13', 'Jun-14', 'Jun-15',
       'Jun-16', 'Jun-17', 'Jun-08', 'Jun-09', 'Sep-04', 'Sep-05',
       'Sep-06', 'Sep-07', 'Sep-08', 'Sep-09', 'Sep-10', 'Sep-11',
       'Sep-12', 'Sep-13', 'Sep-14', 'Sep-15', 'Sep-16', 'Sep-17',
       'Mar-14', 'Mar-15', 'Jun-10', 'Oct-01', 'Oct-02', 'Oct-03',
       'Oct-04', 'Oct-05', 'Oct-06', 'Oct-07', 'Oct-08', 'Oct-09',
       'Oct-10', 'Oct-11', 'Oct-12', 'Oct-13', 'Oct-14', 'Oct-15',
       'Oct-16', 'Oct-17', 'Mar-12', 'Mar-13', 'Mar-16', 'Mar-17',
       'Sep-01', 'Mar-05', 'Jun-01', 'Jun-02', 'Jun-03', 'Jun-04',
       'Jun-05', 'Nov-01', 'Nov-02', 'Nov-03', 'Nov-04', 'Nov-05',
       'Nov-06', 'Nov-07', 'Nov-08', 'Mar-01', 'Apr-01', 'Apr-02',
       'Apr-03', 'Apr-04', 'Apr-05', 'Apr-06', 'Apr-07', 'Mar-06',
       'Mar-07', 'Mar-08', 'Mar-09', 'Mar-10', 'Mar-11', 'Mar-02',
       'Mar-03', 'Mar-04', 'Nov-09', 'Nov-10', 'Jun-06', 'Jun-07',
       'Feb-08', 'Feb-09', 'Feb-10', 'Feb-11', 'Feb-12', 'Feb-13',
       'Feb-14', 'Feb-15', 'Feb-16', 'Feb-17', 'Aug-02', 'Aug-03',
       'Sep-02', 'Sep-03', 'May-06', 'May-07', 'May-08', 'May-09',
       'May-10', 'May-11', 'May-12', 'May-13', 'May-14', 'May-15',
       'May-16', 'May-17', 'Jan-08', 'Jan-09', 'Jan-15', 'Apr-08',
       'Apr-09', 'Apr-10', 'Apr-11', 'Apr-12', 'Apr-13', 'Apr-14',
       'Apr-15', 'Apr-16', 'Aug-07', 'Aug-08', 'Aug-09', 'Aug-10',
       'Aug-11', 'Jul-11', 'Jul-12', 'Jul-13', 'Jul-14', 'May-01',
       'May-02', 'May-03', 'May-04', 'May-05', 'Aug-01', 'Aug-04',
       'Aug-14', 'Aug-15', 'Aug-16', 'Aug-17', 'Aug-05', 'Jan-01',
       'Jan-02', 'Jan-03', 'Jan-04', 'Jan-05', 'Jul-08', 'Jul-09',
       'Jul-10', 'Jul-15', 'Jul-16', 'Jul-17', 'Nov-17', 'Jul-02',
       'Jul-03', 'Jul-04', 'Jul-05', 'Jul-06', 'Jul-07', 'Nov-11',
       'Nov-12', 'Nov-13', 'Nov-14', 'Nov-15', 'Nov-16', 'Apr-17',
       'Jan-10', 'Jan-11', 'Jan-12', 'Jan-13', 'Jan-14', 'Jan-17',
       'Aug-12', 'Aug-13', 'Aug-06', 'Jan-06', 'Jan-07', 'Jan-16'],
      dtype=object)

In [118]:
df['회계년도'].str.split('-')

0         [Dec, 11]
1         [Dec, 12]
2         [Dec, 13]
3         [Dec, 14]
4         [Dec, 15]
            ...
289065    [Dec, 17]
289066    [Dec, 05]
289067    [Dec, 08]
289068    [Dec, 09]
289069    [Dec, 10]
Name: 회계년도, Length: 288928, dtype: object

In [119]:
df['회계월'] = df['회계년도'].astype(str).str.split('-').str.get(0)
df['회계년도'] = df['회계년도'].astype(str).str.split('-').str.get(1)

In [120]:
df['회계년도'] = ('20'+df['회계년도']).astype('int64')

In [121]:
df['회계년도'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2001, 2002, 2003])

In [122]:
df['회계월'].unique()

array(['Dec', 'Jul', 'Feb', 'Jun', 'Sep', 'Mar', 'Oct', 'Nov', 'Apr',
       'Aug', 'May', 'Jan'], dtype=object)

##### 관측 기간 평균 자산 총액 5000억원 이하 : 중소기업

관측기간 평균 자산 5000억원 이상 기업 제거 -> 343개

In [123]:
# 회사 drop 함수
def drop_company(df, list):
    df.set_index('거래소코드', drop=True, inplace=True)
    df.drop(list, axis=0, inplace=True)
    df.reset_index(inplace=True)

In [124]:
len(df[df['자산']>=500000000]['거래소코드'].unique())

580

In [125]:
asset = df.groupby('거래소코드')['자산'].mean().reset_index()
asset

       거래소코드               자산
0      10000 4391197479.94118
1      10001  135797673.17647
2      10002  209182070.41176
3      10004   79834401.80000
4      10006 4789801139.66667
...      ...              ...
44298  88474    8133561.00000
44299  88475   14179913.00000
44300  88477    4217609.00000
44301  88487   10389483.00000
44302  92424   38568641.00000

[44303 rows x 2 columns]

In [126]:
big_company=asset[asset['자산']>500000000]
big_company #평균 자산 5000억원 이상 기업들 추출

       거래소코드               자산
0      10000 4391197479.94118
4      10006 4789801139.66667
9      10013 2459496084.20000
12     10019 3808118443.52941
13     10020 6632404421.75000
...      ...              ...
39932  81901  508166205.00000
39970  81944  558112817.00000
40161  82180 1065605511.00000
41081  83277  972722857.50000
42104  85588  740296944.00000

[343 rows x 2 columns]

In [127]:
big_company_list= big_company.거래소코드.to_list()
big_company_list

[10000,
 10006,
 10013,
 10019,
 10020,
 10024,
 10025,
 10026,
 10028,
 10033,
 10034,
 10041,
 10043,
 10049,
 10052,
 10053,
 10056,
 10060,
 10069,
 10071,
 10077,
 10081,
 10095,
 10128,
 10142,
 10197,
 10204,
 10365,
 10375,
 10445,
 10488,
 10640,
 10649,
 10733,
 10760,
 10908,
 10928,
 10962,
 11097,
 11317,
 12023,
 12522,
 12761,
 12769,
 12810,
 13041,
 13163,
 13441,
 13541,
 13546,
 13609,
 13730,
 14242,
 14492,
 14494,
 14499,
 14615,
 14835,
 14851,
 14919,
 15026,
 15037,
 15051,
 15199,
 15217,
 15249,
 15861,
 16107,
 16117,
 16195,
 16277,
 16447,
 16448,
 16679,
 16811,
 16859,
 16958,
 17121,
 17498,
 17583,
 17688,
 17740,
 17809,
 17822,
 18029,
 18428,
 18438,
 18663,
 18731,
 18809,
 18857,
 18858,
 19080,
 19268,
 19722,
 19847,
 19856,
 19953,
 19966,
 19971,
 20043,
 20047,
 20058,
 20061,
 20289,
 20367,
 20382,
 20579,
 20891,
 21055,
 21071,
 21072,
 21234,
 21438,
 21482,
 21483,
 21499,
 22510,
 23098,
 23422,
 23455,
 23457,
 23719,
 23749,
 23796,
 23843,
 24882,
 25109,
 26395,
 26736,
 27867,
 28056,
 28366,
 28402,
 28411,
 28514,
 28698,
 28821,
 28838,
 28914,
 28948,
 28995,
 29073,
 29235,
 29307,
 29576,
 30190,
 30602,
 30609,
 38576,
 38616,
 38633,
 38667,
 38694,
 38711,
 38767,
 38936,
 39108,
 39179,
 39464,
 40328,
 40400,
 40547,
 40611,
 40779,
 40981,
 41307,
 41675,
 42893,
 42895,
 42935,
 42957,
 43013,
 43103,
 43484,
 43689,
 43727,
 43794,
 44244,
 44674,
 45103,
 45136,
 45230,
 45382,
 45657,
 45774,
 46021,
 46493,
 47273,
 47274,
 47314,
 47337,
 47814,
 47929,
 48033,
 48368,
 49537,
 49969,
 49994,
 50646,
 50729,
 50826,
 50948,
 50950,
 51089,
 51196,
 51200,
 51391,
 51396,
 51417,
 51978,
 52456,
 52587,
 52744,
 54117,
 54177,
 54195,
 54413,
 54431,
 54840,
 54850,
 56271,
 56275,
 56282,
 56331,
 56479,
 56636,
 56656,
 56701,
 57259,
 57856,
 57883,
 57891,
 57947,
 57958,
 57966,
 57984,
 57985,
 57987,
 57988,
 57991,
 58012,
 58040,
 58065,
 58106,
 58604,
 58647,
 59501,
 60423,
 60525,
 60606,
 60640,
 60694,
 60808,
 60903,
 61239,
 61573,
 61614,
 61689,
 61882,
 62608,
 62609,
 62657,
 62667,
 62767,
 62804,
 62843,
 62847,
 62857,
 62986,
 63067,
 63080,
 63234,
 63290,
 63424,
 64103,
 64193,
 64325,
 64540,
 65477,
 65543,
 65612,
 65697,
 65706,
 65733,
 65837,
 65840,
 65843,
 66021,
 66185,
 66242,
 66315,
 66514,
 66621,
 67234,
 68075,
 68453,
 68522,
 68716,
 68800,
 68816,
 68874,
 69002,
 69236,
 69294,
 70177,
 70313,
 70316,
 70801,
 71287,
 71658,
 72086,
 72325,
 72369,
 72403,
 72483,
 72533,
 72605,
 72856,
 73058,
 74912,
 75538,
 75822,
 75953,
 76070,
 76466,
 76792,
 78242,
 78249,
 80030,
 80149,
 80262,
 80284,
 80289,
 80294,
 81098,
 81243,
 81421,
 81901,
 81944,
 82180,
 83277,
 85588]

In [128]:
len(big_company_list)

343

In [129]:
drop_company(df, big_company_list)
df

,거래소코드,회사명,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용,회계월
0,64118,(주)A.M.C,2011,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000,Dec
1,64118,(주)A.M.C,2012,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000,Dec
2,64118,(주)A.M.C,2013,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000,Dec
3,64118,(주)A.M.C,2014,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000,Dec
4,64118,(주)A.M.C,2015,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000,Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285096,84799,힐링홈스주식회사,2017,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,0.00000,810194.00000,7461007.00000,619765.00000,8835.00000,0.00000,22716.00000,15626.00000,234379.00000,Dec
285097,43486,힐코리아주식회사,2005,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,0.00000,25432.00000,0.00000,-1327720.00000,77466.00000,32140.00000,29979.00000,3609.00000,985112.00000,Dec
285098,43486,힐코리아주식회사,2008,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,0.00000,0.00000,0.00000,-48307.00000,5899.00000,1177.00000,24615.00000,83240.00000,6631.00000,Dec
285099,43486,힐코리아주식회사,2009,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,0.00000,0.00000,0.00000,-1335713.00000,1770.00000,26589.00000,13013.00000,82787.00000,1205481.00000,Dec
285100,43486,힐코리아주식회사,2010,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,0.00000,0.00000,0.00000,-179053.00000,33.00000,0.00000,316.00000,72.00000,65421.00000,Dec

##### 회사, 거래소코드 확인

In [130]:
print('회사', len(df['회사명'].unique()))
print('코드', len(df['거래소코드'].unique()))

회사 42817
코드 43960

- 같은 회사명에 거래소 코드가 여러개인 경우 : 992개

In [131]:
tmp = df.groupby(['회사명'])['거래소코드'].nunique().reset_index()
tmp[tmp['거래소코드']>1]

              회사명  거래소코드
104         (주)가야      2
187         (주)거성      2
191       (주)거송건설      2
253         (주)건화      3
306     (주)경동하이테크      2
...           ...    ...
42547  화성엔지니어링(주)      2
42592    화인건설주식회사      2
42594     화인산업(주)      2
42770    흥진산업주식회사      2
42784   희망배움터주식회사      2

[984 rows x 2 columns]

* 같은 거래소 코드에 회사명 여러개인 경우 : 0개

In [132]:
tmp = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
tmp[tmp['회사명']>1]

Empty DataFrame
Columns: [거래소코드, 회사명]
Index: []

In [133]:
df[df['자산'].isna()].sort_values('회사명')

Empty DataFrame
Columns: [거래소코드, 회사명, 회계년도, 자산, 부채, 자본, 유동자산, 유동부채, 당좌자산, 단기차입금, 장기차입금, 사채, 매출액, 당기순이익, 감가상각비, 기타대손상각비, 이자비용, 이자수익, 유동성장기부채, 영업활동으로 인한 현금흐름, 영업이익, 매출원가, 투자자산, 유형자산, 무형자산, 이연자산, 매출채권, 재고자산, 법인세비용차감전, 세금과공과, 퇴직급여, 임차료, 영업외수익, 영업외비용, 회계월]
Index: []

[0 rows x 35 columns]

##### 기초통계량 확인

In [134]:
df[['자산', '부채', '자본', '유동자산', '유동부채', '당좌자산', '단기차입금', '장기차입금', '사채', '매출액']].describe()

,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,장기차입금,사채,매출액
count,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000
mean,37814203.74791,26293954.65944,11520412.70893,18183527.37747,16967504.29245,12377128.92118,6921349.63877,5896781.54735,558562.17022,34856561.69697
std,60705865.89217,96695092.86190,89446124.99724,36128287.38448,34616088.61544,24978740.14827,18305131.18137,52354624.49116,34473617.73999,76421054.84864
min,-40617.00000,-953582.00000,-21833687330.00000,-48070.00000,-953582.00000,-110888.00000,-7063.00000,0.00000,0.00000,-58226688.00000
25%,11778729.00000,7258498.00000,1510175.00000,3771518.00000,3910378.00000,2320307.00000,0.00000,0.00000,0.00000,4887481.00000
50%,18511247.00000,11762801.00000,5479061.00000,8411822.00000,7888394.00000,5706283.00000,2471282.00000,443000.00000,0.00000,15291891.00000
75%,36194351.00000,23608684.00000,13063688.00000,17166814.00000,15790638.00000,12236080.00000,6882258.00000,3942910.00000,0.00000,34541114.00000
max,1575887351.00000,21931904162.00000,1122172112.00000,1037209232.00000,1418553042.00000,701390832.00000,907753893.00000,11358974630.00000,9073856433.00000,3309427857.00000

In [135]:
df[['당기순이익', '감가상각비', '기타대손상각비', '이자비용', '이자수익', '유동성장기부채', '영업활동으로 인한 현금흐름', '영업이익', '매출원가', '투자자산']].describe()

,당기순이익,감가상각비,기타대손상각비,이자비용,이자수익,유동성장기부채,영업활동으로 인한 현금흐름,영업이익,매출원가,투자자산
count,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000
mean,622667.72283,218642.85925,117801.90094,3610.76341,193519.37742,1765061.81224,1365366.62796,1564843.07055,28122478.60942,4618415.46534
std,12457688.06391,1158613.62786,1944926.58422,124261.55913,1025208.72620,11043820.72770,12555570.69307,7090125.98489,65894997.79926,20890598.46993
min,-2355298174.00000,-640232.00000,-11705108.00000,0.00000,-1620783.00000,-430000.00000,-426924437.00000,-343646724.00000,-52121705.00000,-2415961.00000
25%,-282606.00000,16590.00000,0.00000,0.00000,6957.00000,0.00000,-443171.00000,-102832.00000,2243045.00000,7282.00000
50%,346262.00000,57087.00000,0.00000,0.00000,45028.00000,0.00000,634996.00000,631173.00000,11277782.00000,319813.00000
75%,1491786.00000,152601.00000,0.00000,0.00000,161415.00000,656380.00000,2507120.00000,1955942.00000,27551831.00000,1859429.00000
max,548692719.00000,135969269.00000,406867374.00000,20682816.00000,445999978.00000,740000000.00000,617603539.00000,484828577.00000,3180444132.00000,1511795004.00000

In [136]:
df[['유형자산', '무형자산', '이연자산', '매출채권', '재고자산', '법인세비용차감전', '세금과공과', '퇴직급여', '임차료', '영업외수익', '영업외비용']].describe()

,유형자산,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
count,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000,285101.00000
mean,12971531.10200,754690.42190,91.81119,5639397.23843,5806371.71238,1041234.32726,117324.62534,164519.79489,209201.75026,1333381.89793,1857000.39772
std,29572158.89201,8909917.55602,25940.39876,15077319.06188,19604111.20265,13070525.14396,348785.92985,487559.61798,1781963.26622,8561952.02703,12704286.44093
min,0.00000,-14457325.00000,0.00000,-246189.00000,0.00000,-2355298174.00000,-11759082.00000,-13809363.00000,-74197.00000,-223921.00000,-824710.00000
25%,818543.00000,0.00000,0.00000,196876.00000,9269.00000,-264792.00000,15190.00000,15528.00000,0.00000,80042.00000,228087.00000
50%,5640153.00000,0.00000,0.00000,1942143.00000,1001246.00000,429689.00000,41349.00000,59900.00000,19345.00000,287602.00000,540295.00000
75%,12325075.00000,61276.00000,0.00000,5385865.00000,4161607.00000,1842366.00000,95747.00000,155182.00000,86717.00000,861572.00000,1355980.00000
max,1017903603.00000,1110038054.00000,10664086.00000,1230821847.00000,636007638.00000,548692719.00000,26284149.00000,65641305.00000,171314197.00000,2991267121.00000,2981886306.00000

##### 재무비율 변수 생성

In [137]:
# 안정성
df['자기자본비율'] = df['자본']/(df['자산']) * 100
df['부채비율'] = df['부채']/df['자본'] * 100
df['유동비율'] = df['유동자산']/df['유동부채'] * 100
df['당좌비율'] = df['당좌자산']/df['유동부채'] * 100
df['차입금의존도'] = (df['장기차입금'] + df['단기차입금'] + df['사채']) / df['자산'] * 100
df['OCF'] = df['영업활동으로 인한 현금흐름']

In [138]:
# 수익성
df['경상이익'] = df['영업이익'] + df['영업외수익'] - df['영업외비용']
df['총자산이익률'] = df['당기순이익'] / df['자산'] * 100
df['총자본경상이익률'] = df['경상이익'] / df['자산'] * 100
df['자기자본순이익률'] = df['당기순이익'] / df['자본'] * 100
df['매출액경상이익률'] = df['경상이익'] / df['매출액'] * 100
df['자기자본영업이익률'] = df['영업이익']/df['자본']*100
df['매출액영업이익률'] = df['영업이익'] / df['매출액'] * 100
df['매출원가율'] = df['매출원가'] / df['매출액'] * 100
df['이자보상배율'] = df['영업이익'] / df['이자비용'] * 100

In [139]:
# 활동성
df['총자본회전율'] = df['매출액'] / df['자산'] * 100
df['자기자본회전율'] = df['매출액'] / df['자본'] * 100
df['고정자산'] = df['투자자산'] + df['유형자산'] + df['무형자산'] + df['이연자산']
df['고정자산회전율'] = df['매출액'] / (df['고정자산'] + df['투자자산']) * 100
df['재고자산회전율'] = df['매출액'] / df['재고자산'] * 100
df['매출채권회전율'] = df['매출액'] / df['매출채권'] * 100
df['순운전자본'] = df['유동자산'] - df['유동부채'] * 100
df['순운전자본회전율'] = df['매출액'] / df['순운전자본'] * 100

In [140]:
# 성장성
df['총자본증가율'] = (df['자산'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자산'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자산'].shift(1) * 100
df['총자본증가율'] = (df['자본'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자본'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자본'].shift(1) * 100
df['유형자산증가율'] = (df['유형자산'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['유형자산'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['유형자산'].shift(1) * 100
df['매출액증가율'] = (df['매출액'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['매출액'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['매출액'].shift(1) * 100
df['순이익증가율'] = (df['당기순이익'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['당기순이익'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['당기순이익'].shift(1) * 100