In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.5f}'.format

In [3]:
df = pd.read_csv('./dataset/식료품 제조업.csv', encoding='cp949')
df

,회사명,거래소코드,회계년도,자산(*)(천원),부채(*)(천원),자본(*)(천원),유동자산(*)(천원),유동부채(*)(천원),당좌자산(*)(천원),단기차입금(*)(천원),...,무형자산(*)(천원),이연자산(*)(천원),매출채권(*)(천원),재고자산(*)(천원),법인세비용차감전(계속사업)손익(천원),세금과공과(천원),퇴직급여(천원),임차료(천원),영업외수익(*)(천원),영업외비용(*)(천원)
0,(주)SRC,80886,2016/12,15734805,11863531,3871274,6354848,2285793,3629293,0,...,9477,0,3519620,2725555,507118,138458,443912,117901,488340,355423
1,(주)SRC,80886,2017/12,18319621,10893845,7425776,5482509,4007056,3936799,1700000,...,5914,0,3548191,1545710,488619,152006,268665,108030,169299,348638
2,(주)TS센트릭,20607,2001/12,27907296,23699468,4207829,9095745,16587306,6550920,7590663,...,542212,0,3394539,2544825,-187109,9019,55472,45925,506042,2851058
3,(주)강남산업,12833,2001/12,17976910,13170026,4806883,4442086,8070550,3104289,2347055,...,0,0,2711526,1337797,804488,45231,138905,7600,287037,1157045
4,(주)강남산업,12833,2002/12,20276356,14669232,5607124,5706829,11258218,3621999,7943428,...,0,0,2795584,2084830,849885,101217,9850,14285,173519,1224196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,희망주식회사,13965,2004/12,18869854,11419046,7450809,14609709,11419046,11007939,9720894,...,219,0,5535582,3601770,1242150,46073,31830,1500,1331049,305785
6714,희망주식회사,13965,2005/12,20557510,7868538,12688972,15527556,7805604,11654050,4928531,...,0,0,6988838,3873506,303392,39370,34683,1342,431056,380744
6715,희망주식회사,13965,2006/12,32177458,20469776,11707682,22294151,20322327,16225007,11622972,...,0,0,10488697,6069144,-989714,75598,189468,82969,1048321,757651
6716,희성식품(주),82222,2016/12,13513957,815239,12698718,6696066,827397,6696066,0,...,0,0,3838299,0,3254009,69427,61717,0,843497,34900
6717,희성식품(주),82222,2017/12,14927248,2055639,12871609,7538676,177797,7538676,0,...,0,0,188857,0,198328,57042,2541,0,130887,6065

##### 컬럼명 정리

In [4]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(천원)', '부채(*)(천원)', '자본(*)(천원)',
       '유동자산(*)(천원)', '유동부채(*)(천원)', '당좌자산(*)(천원)', '단기차입금(*)(천원)',
       '장기차입금(*)(천원)', '사채(*)(천원)', '매출액(영업수익)(*)(천원)', '당기순이익(순손실)(천원)',
       '감가상각비(천원)', '기타대손상각비(천원)', '이자비용(천원)', '이자수익(천원)', '유동성장기부채(*)(천원)',
       '영업활동으로 인한 현금흐름(*)(천원)', '당기순이익(순손실)(천원).1', '영업이익(손실)(천원)',
       '매출원가(*)(천원)', '투자자산(*)(천원)', '유형자산(*)(천원)', '무형자산(*)(천원)',
       '이연자산(*)(천원)', '매출채권(*)(천원)', '재고자산(*)(천원)', '법인세비용차감전(계속사업)손익(천원)',
       '세금과공과(천원)', '퇴직급여(천원)', '임차료(천원)', '영업외수익(*)(천원)', '영업외비용(*)(천원)'],
      dtype='object')

In [5]:
# 손익계산서의 당기순이익과 현금흐름표의 당기순이익 컬럼 두개가 뽑혀서 현금흐름표의 당기순이익 컬럼 삭제
df.drop(['당기순이익(순손실)(천원).1'], axis=1, inplace=True)

In [6]:
col = df.columns.str.split('(').str.get(0)
df.columns = col
df

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
0,(주)SRC,80886,2016/12,15734805,11863531,3871274,6354848,2285793,3629293,0,...,9477,0,3519620,2725555,507118,138458,443912,117901,488340,355423
1,(주)SRC,80886,2017/12,18319621,10893845,7425776,5482509,4007056,3936799,1700000,...,5914,0,3548191,1545710,488619,152006,268665,108030,169299,348638
2,(주)TS센트릭,20607,2001/12,27907296,23699468,4207829,9095745,16587306,6550920,7590663,...,542212,0,3394539,2544825,-187109,9019,55472,45925,506042,2851058
3,(주)강남산업,12833,2001/12,17976910,13170026,4806883,4442086,8070550,3104289,2347055,...,0,0,2711526,1337797,804488,45231,138905,7600,287037,1157045
4,(주)강남산업,12833,2002/12,20276356,14669232,5607124,5706829,11258218,3621999,7943428,...,0,0,2795584,2084830,849885,101217,9850,14285,173519,1224196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,희망주식회사,13965,2004/12,18869854,11419046,7450809,14609709,11419046,11007939,9720894,...,219,0,5535582,3601770,1242150,46073,31830,1500,1331049,305785
6714,희망주식회사,13965,2005/12,20557510,7868538,12688972,15527556,7805604,11654050,4928531,...,0,0,6988838,3873506,303392,39370,34683,1342,431056,380744
6715,희망주식회사,13965,2006/12,32177458,20469776,11707682,22294151,20322327,16225007,11622972,...,0,0,10488697,6069144,-989714,75598,189468,82969,1048321,757651
6716,희성식품(주),82222,2016/12,13513957,815239,12698718,6696066,827397,6696066,0,...,0,0,3838299,0,3254009,69427,61717,0,843497,34900
6717,희성식품(주),82222,2017/12,14927248,2055639,12871609,7538676,177797,7538676,0,...,0,0,188857,0,198328,57042,2541,0,130887,6065

In [7]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '자산', '부채', '자본', '유동자산', '유동부채', '당좌자산',
       '단기차입금', '장기차입금', '사채', '매출액', '당기순이익', '감가상각비', '기타대손상각비', '이자비용',
       '이자수익', '유동성장기부채', '영업활동으로 인한 현금흐름', '영업이익', '매출원가', '투자자산', '유형자산',
       '무형자산', '이연자산', '매출채권', '재고자산', '법인세비용차감전', '세금과공과', '퇴직급여', '임차료',
       '영업외수익', '영업외비용'],
      dtype='object')

##### 회사, 거래소코드 확인

In [8]:
print('회사', len(df['회사명'].unique()))
print('코드', len(df['거래소코드'].unique()))

회사 998
코드 1007

- 같은 회사명에 거래소 코드가 여러개인 경우 : 9개

In [9]:
tmp = df.groupby(['회사명'])['거래소코드'].nunique().reset_index()
tmp[tmp['거래소코드']>1]

          회사명  거래소코드
78   (주)동원홈푸드      2
86    (주)두라푸드      2
319    (주)취영루      2
351  (주)풀무원녹즙      2
376     (주)한울      2
523  동원팜스주식회사      2
538   매일식품(주)      2
837  주식회사천하제일      2
869   주식회사푸르온      2

* 같은 거래소 코드에 회사명 여러개인 경우 : 0개

In [10]:
tmp = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
tmp[tmp['회사명']>1]

Empty DataFrame
Columns: [거래소코드, 회사명]
Index: []

##### 기초통계량 확인

In [11]:
df[['자산', '부채', '자본', '유동자산', '유동부채', '당좌자산', '단기차입금', '장기차입금', '사채', '매출액']].describe()

,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,장기차입금,사채,매출액
count,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000
mean,46228133.16314,24772094.98273,21456038.17356,20477598.02709,18085945.13040,13615414.23831,8535919.31274,4153023.13650,647488.32912,57193987.09274
std,120715606.82788,51015068.64105,92693807.02561,60900374.70339,37661366.30848,37047194.16472,20746421.14465,13517641.51431,7117598.53561,135482182.73163
min,150000.00000,0.00000,-526153970.00000,5707.00000,0.00000,-110888.00000,0.00000,0.00000,0.00000,0.00000
25%,12147245.75000,7839645.50000,2640973.50000,4382418.00000,4900011.50000,2699934.00000,1099183.75000,0.00000,0.00000,12283223.25000
50%,18379407.50000,11561099.00000,6549850.00000,8260706.00000,8355316.50000,5469000.50000,3941570.50000,1461909.50000,0.00000,23398537.00000
75%,35267992.00000,21301151.75000,14858675.50000,15945091.25000,15550936.75000,11323448.25000,8279543.50000,4249793.50000,0.00000,49680364.50000
max,3329303197.00000,1110802583.00000,3298289343.00000,1435358542.00000,909005302.00000,790714926.00000,766989499.00000,552854415.00000,338988600.00000,1777178739.00000

In [12]:
df[['당기순이익', '감가상각비', '기타대손상각비', '이자비용', '이자수익', '유동성장기부채', '영업활동으로 인한 현금흐름', '영업이익', '매출원가', '투자자산']].describe()

,당기순이익,감가상각비,기타대손상각비,이자비용,이자수익,유동성장기부채,영업활동으로 인한 현금흐름,영업이익,매출원가,투자자산
count,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000
mean,1925935.89521,303845.54079,68765.27523,0.00000,231728.20810,1608303.84102,2930430.38136,2918229.04823,43685661.19247,5846423.01474
std,12684036.66829,1718772.94985,658558.53380,0.00000,858307.09970,8589201.82577,16423079.52652,13235227.28132,93216379.91541,58413289.72435
min,-229806558.00000,-163654.00000,-192500.00000,0.00000,0.00000,0.00000,-592991190.00000,-29086060.00000,0.00000,0.00000
25%,16680.00000,26480.00000,0.00000,0.00000,9785.00000,0.00000,-148961.00000,157610.50000,9388129.25000,39003.25000
50%,465215.50000,65267.50000,0.00000,0.00000,46458.50000,178820.50000,900944.00000,863354.00000,18596220.50000,313899.50000
75%,1670244.25000,159701.75000,0.00000,0.00000,142227.75000,1020247.50000,2689247.00000,2217931.50000,41075216.25000,1395466.75000
max,436127724.00000,42485344.00000,24426238.00000,0.00000,18497388.00000,415412924.00000,513382505.00000,225420732.00000,1390739403.00000,3288352469.00000

In [13]:
df[['유형자산', '무형자산', '이연자산', '매출채권', '재고자산', '법인세비용차감전', '세금과공과', '퇴직급여', '임차료', '영업외수익', '영업외비용']].describe()

,유형자산,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
count,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000,6718.00000
mean,17068564.85234,1018261.19232,0.00000,6532610.05448,6862183.78238,2640703.41099,125247.38747,259192.95981,398526.31230,1544537.27493,1822062.92751
std,32821985.79038,10161708.33547,0.00000,13051212.41258,34311780.39942,15661252.09910,418197.86943,807916.08136,2749180.82724,7874810.35039,5959592.85504
min,0.00000,-8488434.00000,0.00000,0.00000,0.00000,-229775819.00000,-708704.00000,-1409308.00000,0.00000,0.00000,0.00000
25%,4724127.75000,0.00000,0.00000,1260165.75000,868711.00000,29515.75000,17115.00000,33180.50000,2600.50000,103967.75000,298442.25000
50%,8192058.50000,5309.50000,0.00000,2818486.00000,2291910.00000,555881.00000,42379.50000,80857.00000,31330.50000,273049.00000,557144.50000
75%,15682633.50000,103891.00000,0.00000,6032708.25000,5201170.25000,2027440.50000,102306.25000,193696.50000,113978.75000,775259.75000,1219065.25000
max,399201877.00000,236416499.00000,0.00000,183893077.00000,1250792427.00000,438724706.00000,10276025.00000,15098635.00000,82103075.00000,485902476.00000,215389250.00000

##### 재무비율 변수 생성

In [15]:
# 안정성
df['자기자본비율'] = df['자본']/(df['부채']+df['자본']) * 100
df['부채비율'] = df['부채']/df['자본'] * 100
df['유동비율'] = df['유동자산']/df['유동부채'] * 100
df['당좌비율'] = df['당좌자산']/df['유동부채'] * 100
df['차입금의존도'] = (df['장기차입금'] + df['단기차입금'] + df['사채']) / df['자산'] * 100
## df['부채상환계수']
df['OCF'] = df['영업활동으로 인한 현금흐름']

In [18]:
# 수익성
df['경상이익'] = df['영업이익'] + df['영업외수익'] - df['영업외비용']
df['총자산이익률'] = df['당기순이익'] / df['자산'] * 100
df['총자본경상이익률'] = df['경상이익'] / df['자본'] * 100
df['자기자본순이익률'] = df['당기순이익'] / df['자본'] * 100
df['매출액경상이익률'] = df['경상이익'] / df['매출액'] * 100
df['자기자본영업이익률'] = df['영업이익']/df['자본']*100
df['매출액영업이익률'] = df['영업이익'] / df['매출액'] * 100
df['매출원가율'] = df['매출원가'] / df['매출액'] * 100
df['이자보상배율'] = df['영업이익'] / df['이자비용'] * 100

In [19]:
# 활동성
df['총자본회전율'] = df['매출액'] / df['자본'] * 100
df['자기자본회전율'] = df['매출액'] / df['자본'] * 100
df['고정자산'] = df['투자자산'] + df['유형자산'] + df['무형자산'] + df['이연자산']
## 이연자산 다 0으로 뜸
df['고정자산회전율'] = df['매출액'] / (df['고정자산'] + df['투자자산']) * 100
## 고정자산회전율 체크하기
df['재고자산회전율'] = df['매출액'] / df['재고자산'] * 100
df['매출채권회전율'] = df['매출액'] / df['매출채권'] * 100
df['순운전자본'] = df['유동자산'] - df['유동부채'] * 100
df['순운전자본회전율'] = df['매출액'] / df['순운전자본'] * 100

In [20]:
# 성장성
df['총자본증가율'] = (df['자본'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자본'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자본'].shift(1) * 100
df['유형자산증가율'] = (df['유형자산'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['유형자산'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['유형자산'].shift(1) * 100
df['매출액증가율'] = (df['매출액'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['매출액'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['매출액'].shift(1) * 100
df['순이익증가율'] = (df['당기순이익'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['당기순이익'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['당기순이익'].shift(1) * 100